*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Syne;
}
.your{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    width: 100%;
    gap: 268px;
    padding: 40px 102px;
}
.trans{
    display: flex;
    font-family: Syne;
    font-size: 44px;
    font-style: normal;
    /* fo: capitalize; */
}
.trans div:nth-child(3){
    color: #1341EC;

}
.home{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    color: #1C1C1C;
    font-family: Rubik;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px;

}
.home a{
    text-decoration: none;
    color: #1C1C1C;
}
.contact button{
    display: flex;
    padding: 12px 28px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 6px;
    background: #1341EC;
    border-style: hidden;
    color: #ffffff;
    font-size: 23px;
}
.find{
    /* background: #1341 */
    background-image:  url(./images/Group\ 48096122.png) url(./images/image\ 2\ \(1\).png);
    width: 1299px;
    height: 611px;
}