* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik";
}
.container {
  max-width: 1299px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap; 
}
a {
  all: unset;
}
#h-top {
  background-color: black;
  color: var(--text, #fafafa);
}
.h-top {
  align-items: center;
  justify-content: center;
  padding: 16px;
}
.h-top > a {
  max-width: 100%;
  display: flex;
  gap: 5px;
  font-size: 14px;
}
.h-top h3 {
  text-decoration-line: underline;
  font-weight: 700;
}

/* nav */

.nav-reght {
  display: flex;
  gap: 268px;
  overflow: hidden;
  transition: all 1s;
}
nav {
  padding: 20px;
}
.nav {
  justify-content: space-between;
}
.nav-bar {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  align-items: center;
}
.btn1 {
  display: flex;
  padding: 12px 28px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  background: #1341ec;
  color: #fafafa;
  border: none;
}
.brg {
  display: none;
}
.brg > input {
  display: none;
}

/* hero */

#hero {
  background: url("img/image\ 2.png"), #1261a6 0% 0% / 33.2975834608078px 33.2975834608078px repeat;
  padding-top: 71px;
  padding-bottom: 48px;
}
.hero {
  margin: 0 auto;
  width: 1299px;
  border-radius: 15.922px;
  border: 0.663px solid #10254d;
  padding: 112px 29px;
  margin-bottom: 29px;
}
.hero-text {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.text-top {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.text-top > h1 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: #fff;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px;
  width: 498px;
}
.text-top > h1 p {
  color: #fff;
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 500;
  font-variant: small-caps;
  letter-spacing: 1.92px;
}
.text-top > p {
  width: 510px;
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}
#int {
  width: 415px;
  display: flex;
  padding: 0 0 0 30px;
  gap: -54px;
  background-color: #fff;
  border-radius: 8.318px;
  box-shadow: 18.300535202026367px 19.13237762451172px 33.27370071411133px 0px
    rgba(0, 0, 0, 0.07);
}
#int > input {
  margin: 18px 0 18px 0;
  width: 255px;
  color: #C0C0C0;
  font-family: 'Poppins';
  font-size: 13.4px;
  font-weight: 400;
  border: none;
  
}
#int > .button {
display: flex;
padding: 18px 26px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 0px 8.318px 8.318px 0px;
background: var(--primary, #1341EC);
color: #FFF;
font-family: 'Poppins';
font-size: 13.4546486586745px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.hero-text-box{
display: flex;
align-items: center;
justify-content: center;
gap: 68px;
}

@media screen and (max-width: 370px) {
  .container{
    max-width: 320px;
  }
  .brg {
    display: block;
    color: black;
    font-size: 30px;
  }
  .h-top > a {
    font-size: 8px;
  }
  .nav-bar {
    flex-direction: column;
  }
  .nav-reght {
    position: absolute;
    height: 0;
  }
  .nav-bar li {
    width: 100%;
  }
  .hero {
    width: 338px;
    border-radius: 15.922px;
    border: 0.663px solid #10254d;
    padding: 40px 12px;
  }
  .hero-text-box{
    flex-wrap: wrap;
    gap: 45px;
  }
  .hero-text{
    width: 100%;
    gap: 14px;
  }
  .text-top {
    gap: 14px;
  }
  .text-top > h1 {
    font-size: 30px;
    gap: 9px;
    width: 307.457px;
  font-size: 29.634px;
  line-height: 37.043px;
  }
  .text-top>h1 p{
  font-size: 10px;
  font-weight: 500;
  }
  .text-top>p{
    width: 314.865px;
    font-size: 11.113px;
    line-height: 16.669px;
  }
  .int{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: -34.573px;
  }
  /* .brg>input:checked .nav-bar{
        height: 100vh;
    } */
  #int{
    width: 287px;
    gap: -34.573px;
    border-radius: 5.136px;
    box-shadow: 11.29843807220459px 11.812003135681152px 20.542613983154297px 0px rgba(0, 0, 0, 0.07);
      }
  #int>input{
    margin: 0;
    font-size: 8.217px;
  }
  #int>.button{
    border-radius:  0 5.136px 5.136px 0;
    padding: 9px 16px;
    font-size: 8.217px;
    width: 80px;
    }
    .img>img{
      width: 290.297px;
      height: 136.845px;
    }


}
